.custom-marker {
    border-radius: 100px;
    background-color: var(--normal-primary-color);
    width: 15px !important;
    height: 15px !important;
    padding: 8px;
    color: white;
    font-weight: 400;
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.custom-marker:hover {
    background-color: var(--light-primary-color);
    font-weight: 600;
}