.custom-marker {
    border-radius: 100px;
    border: 2px solid var(--light-primary-color);
    background-color: var(--normal-primary-color);
    width: 15px !important;
    height: 15px !important;
    padding: 8px;
    color: white;
    font-weight: 400;
    animation-name: blinking;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

@keyframes blinking {
    50% {
        border: 2px solid var(--normal-primary-color);
    }
}

.custom-marker:hover {
    background-color: var(--light-primary-color);
    font-weight: 600;
}