.meteo-station__container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 300px;
    padding: 16px;
    margin: 8px;
    border: 1px solid #7c8500;
    border-radius: 5px;
    background-color: #e4e65e;
    .meteo-station__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: 300;
        color: grey;

        &.first-line {
            font-weight: 600;
            color: #7c8500;
        }
    }
}

.meteo-station__container:hover {
    background-color: #7c8500;
    .meteo-station__row {
        color: lightgray;
        
        &.first-line {
            color: #e4e65e;
        }
    }

}
