.meteo-station__container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 300px;
    padding: 16px;
    margin: 8px;
    border: 1px solid var(--normal-primary-color);
    border-radius: 5px;
    background-color: var(--dark-primary-color);
    .meteo-station__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: 300;
        color: var(--subtitle-color);

        &.first-line {
            font-weight: 600;
            color: var(--normal-primary-color);
        }
    }
}

.meteo-station__container:hover {
    background-color: var(--light-primary-color);
    .meteo-station__row {
        color: var(--subtitle-color);
        
        &.first-line {
            color: var(--normal-primary-color);
        }
    }

}
