@import '../../../../variables.scss';

.toolbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: $toolbar-height;
    background-color: var(--normal-primary-color);
    color: white;
    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: $default-margin;
        width: 100%;
        span:first-child {
            margin-right: $default-margin;
            cursor: pointer;
        }
        .separator {
            flex: 1 1 auto;
        }
        p {
            margin: 0px;
            font-size: 24px;
        }
    }

    .theme-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .icon {
            margin: 8px;
        }
    }
}