.meteovariables-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .text-info {
        font-size: 18px;
        color: var(--normal-primary-color);
    }
    .meteovariables-list {
        width: 500px;
        padding: 16px;
        .meteovariable-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            background-color: var(--card-color);
            border-radius: var(--default-app-border-radius);
            margin: 8px;
            padding: 8px;
            .first-column {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                width: 50%;
                font-weight: 500;
                color: var(--normal-primary-color);
            }
            .second-column {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                width: 50%;
                .slider {
                    background-color: var(--light-primary-color);
                }
                input[type=checkbox]:checked + .slider {
                    background-color: var(--dark-primary-color);
                }
                input[type=checkbox]:checked + .slider:before {
                    background-color: var(--light-primary-color);
                }
            }
        }
    }
}