.meteo-data-page-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;

    .meteo-data-container {
        display: flex;
        flex-direction: column;

        .meteo-variables-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .variable-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                border-radius: var(--default-app-border-radius);
                padding: var(--default-app-padding);
                background-color: var(--card-color);
                margin: 8px;
                width: 250px;

                .image-column {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    background-color: var(--normal-primary-color);
                    border-radius: var(--default-app-border-radius);
                    padding: var(--default-app-padding);
                    img {
                        width: 32px;
                        filter: invert(99%) sepia(7%) saturate(112%) hue-rotate(252deg) brightness(115%) contrast(100%);
                    }
                }

                .spacer {
                    flex: 1 1 auto;
                }

                .variable-info-table {
                    justify-content: center;
                    align-items: flex-end;
                    display: flex;
                    flex-direction: column;
                    color: var(--normal-primary-color);
                    font-size: 18px;
                    font-weight: 600;
                    .header {
                        font-weight: 300;
                        color: black;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}