.meteo-data-page-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;

    .meteo-variables-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--dark-primary-color);
        border: 1px solid var(--normal-primary-color);
        border-radius: 5px;

        .variable-info-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 4px;
            .image-column {
                width: 50%;
                img {
                    filter: invert(99%) sepia(7%) saturate(112%) hue-rotate(252deg) brightness(115%) contrast(100%);
                }
            }
            .variable-info-table {
                display: flex;
                flex-direction: column;
                width: 50%;
                .row {
                    display: flex;
                    flex-direction: row;
                    font-weight: 300;
                    color: white;
                    &.header {
                        font-weight: 600;
                        color: var(--normal-primary-color);
                    }
                }
            }
        }
    }

    .meteo-variables-error {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--error-primary-color);
        padding: 16px;
        color: white;
        border-radius: 5px;
        span {
            margin-right: 8px;
        }
    }

    .border-box {
        border-radius: 5px;
        padding: 16px;
    }

}
