.meteo-data-page-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;

    .meteo-data-container {
        display: flex;
        flex-direction: column;

        .meteo-variables-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .meteo-data-row-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 48px;
        .meteo-data-slot {
            margin: var(--default-app-padding);
        }
    }
}