.toolbar-menu-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;
    font-weight: 300;
    cursor: pointer;

    &.active {
        border: 2px solid #e4e65e;
        border-radius: 5px;
        background-color: #e4e65e;
        color: #7c8500;
    }
}